<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ListenerTest" verbose="5">
    <!--<listeners>
        <listener class-name="com.instagram.download.photo.listeners.AnnotationTransformer"/>
    </listeners>-->

    <test name="instagramDownloadRetry">
        <classes>
            <class name="com.instagram.download.photo.selenide.tests.DownloadUserPhoto"/>
        </classes>
    </test>
</suite>